body {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
    background: white;
    color: black;
}
.page {
    width: 100vw;
    min-height: 100vh;
}
.page .content {
    padding: 0 20px 40px;
}

h1 {
    width: 100%;
    background: darkblue;
    margin: 0;
    font-size: 30px;
    padding: 40px 0;
    color: white;
    text-transform: uppercase;
}
a {
    cursor: pointer;
}
nav ul {list-style: none;margin: 10px 0;padding: 00;}

nav ul li {
    display: inline-block;
    padding:  0 10px;
}