.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    padding: 20px;
    overflow: scroll;
}

.modal > a {
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    cursor: pointer;
}

.modal-content {
    position: absolute;
    background: white;
    top: 80px;
    left: 30px;
    right: 30px;
    bottom: 60px;
    border-radius: 5px;
}