table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th {
    text-transform: capitalize;
  }
  th:first-child {
    text-transform: uppercase;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }